<h3><i class="fas fa-book-reader"></i>The Preemies Journal</h3>
<div class="section">
    <p class="lead">Share your public and private stories of your journey in the NICU</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn brown darken-1">
        <i class="fab fa-google left"></i>Log In with Google
    
    </a>
</div>